# Data files
/data/*
!/data/.gitkeep

# Notebooks checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Logs
*.log

# Environment files
.env
*.env

# Jupyter runtime
*.json
*.sqlite

# VS Code settings
.vscode/
*.docx

# Ignore virtual environments
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

